/* the all powerful syling over all components imported to App.js */


@font-face {
    font-family: 'monofontoregular';
    src: url('./monofonto-regular/monofonto-webfont.woff2') format('woff2'),
         url('./monofonto-regular/monofonto-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'southern_aire_personal_use_Rg';
    src: url('./southernAire/southernaire-webfont.woff2') format('woff2'),
         url('./southernAire/southernaire-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*   {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'monofontoregular', 'Courier New', Courier;
    background: #222;
    /* background-image: url('https://i.pinimg.com/736x/cd/fe/28/cdfe28b5282194f0111c0a1e1bc4bc66--modern-patterns-art-patterns.jpg'); */
    text-transform: uppercase;
    color: #35f78a;
    overflow:hidden;
}




.landingPage  {
    animation:colorPulse 5s infinite ease-in-out;
    height:100vh;
    overflow:hidden;
    width:100vw;
}

.landingPage:before {
    animation:wave 10s infinite ease-in-out;
    content:"";
    height:20vh;
    left:0;
    opacity:.5;
    position:absolute;
    right:0;
    z-index:-1;
  }

.landingPage:after {
    background-image:linear-gradient(transparent, transparent 3px, #222);
    background-size: 4px 4px;
    bottom:0;
    content:"";
    left:0;
    pointer-events:none;
    position: absolute;
    right:0;
    top:0;
    z-index:1;
  }

  @keyframes wave {
    0% {
      box-shadow:0 -10vh 20vh #0c0;
      top:-100vh;
    }
    46%, 52% {
      box-shadow:0 -10vh 20vh #090;
    }
    50% {
      box-shadow:0 -10vh 20vh #060;
    }
    100% {
      box-shadow:0 -10vh 20vh #0c0;
      top:120vh;
    }
  }


/* general board tags */

button {
        background: transparent;
        border: 1px solid #35f78a;
        clear: both;
        color: #35f78a;
        font-family: 'monofontoregular';
        font-size: 16px;
        margin-bottom: 20px;
        letter-spacing: .5em;
        padding: 10px;
        text-transform: uppercase;
        text-decoration: none;
}

button:hover {
        background: #00dd00;
        color: black;
        opacity: 0.8;
        border-radius: 3px;
}

#btn-thread {
        /* float:right; */
        background: transparent;
        border: 1px solid #35f78a;
        clear: both;
        color: #35f78a;
        font-family: 'monofontoregular';
        font-size: 16px;
        margin-bottom: 20px;
        letter-spacing: .5em;
        padding: 10px;
        text-transform: uppercase;
        text-decoration: none;
}

#btn-thread:hover {
    background: #00dd00;
    color: black;
    opacity: 0.8;
    border-radius: 3px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}

input[type=submit],
a.button {
	background: transparent;
	border: 1px solid #35f78a;
	clear: both;
	color: #35f78a;
	font-family: 'monofontoregular';
	font-size: 16px;
    margin-bottom: 20px;
    letter-spacing: .5em;
	padding: 10px;
	text-transform: uppercase;
	text-decoration: none;
}

input[type=submit]:hover,
a.button:hover {
	background: #00dd00;
	color: black;
    opacity: 0.8;
    border-radius: 3px;
}

.message {
    padding-left: 10px 0;
    box-shadow: 3px 3px black;
}


.landingPage    h1 {
    border-right: .30em solid #35f78a; /* cursor */
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    overflow: hidden;
    animation: 
      typing 4s steps(30, end),
      blink-caret .5s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

@keyframes blink-caret{
    from, to { border-color: transparent}
    50% { border-color: #35f78a}
}

input[type=text]    {
    background: transparent;
    border: none;
    border-bottom: 2px solid #35f78a;
    color:#35f78a;
    font-size: 16px;
    width: 50%;
    outline: none;
}

input[type=password]    {
    background: transparent;
    border: none;
    border-bottom: 2px solid #35f78a;
    color:#35f78a;
    font-size: 18px;
    width: 50%;
    outline: none;
}



.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: black;
}

.message:nth-child(even) {
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

li {
    padding-left: 280px;
}

li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: none;
    color: #111;
}

a{
    text-decoration: none;
}

b   {
    padding-right: 10px;
}




/***** HEADER *****/

.instructions {
    display: grid;
    background-color: #373a47;
    font-family: 'southern_aire_personal_use_Rg';
    padding: 20px;
    padding-bottom: 25px;
    grid-template-columns: 1fr 3fr;
    text-align: center;
    grid-gap: 20px;
    text-transform: capitalize;
    background-image: url('https://i.imgur.com/7nlCcRX.png');
    background-size: cover;
}

.instructions div{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.instructions h1 {
    font-size: 96px;
    font-weight: 400;
    text-shadow: 3px 3px black;
    color: yellow;
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    padding-top: 20px;
    padding-bottom:20px;
}

.instructions h2 {
    display: grid;
    font-size: 48px;
    font-weight: 100;
    text-shadow: 3px 3px black;
    text-indent: 300px;
    font-family: 'monofontoregular';
    text-transform: lowercase;
    color: lightblue;
    /* color: rgb(251, 255, 0); */
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
}

.instructions h1:hover{
    color: black;
    text-shadow: 3px 3px #35f78a;
}

.instructions h2:hover{
    color: black;
    text-shadow: 3px 3px #33ffff;
}


/***** BOARD GRID *****/

.gridBase   {
    display: grid;
    grid-template-columns: 3fr 10fr 3fr; /* size of columns from left to right */
    grid-gap: 20px; 
    /* margin-top: 5px;  */
    overflow-y:scroll; 
    z-index: 1;
}

.gridBase  div {
    padding: 5px; 
}


/***** THREAD GRID *****/
.gridThread   {
    display: grid;
    grid-template-columns: 3fr 10fr 3fr; /* size of columns from left to right */
    grid-gap: 20px; 
    margin-top: 5px;
}

.gridThread  div {
    padding: 5px; 
}

/* threads nested in gridThread */
.discussionList   {
    grid-template-rows: 1fr;
}



/* thread nested in thread list MINI PROFILE GRID ALSO HERE */
.gridCommentList   {
    display: grid;
    grid-template-columns: 3fr 10fr 3fr;
    grid-column-gap: 10px;
    margin-top: 5px;
}

.gridComment  div {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-column-gap: 10px;
    padding: 5px 10px;
}

.miniInfo {
    font-size: 16px;
}












/* ERROR GRID */

.gridError   {
    display: grid;
    grid-template-columns: 2fr 6fr 3fr; /* size of columns from left to right */
    grid-gap: 20px; /* margins between columns and rows */
    /* grid-auto-rows: minmax(100px, auto); */

}

.gridError  div {
    /* display: grid; */
    /* background: darkslategray; */
    padding: 5px;
    margin-top: 50px;
}



/* PROFILE SETTINGS GRID */
.gridSettings   {
    display: grid;
    grid-template-columns: 3fr 6fr 3fr; /* size of columns from left to right */
    grid-gap: 20px; /* margins between columns and rows */
    /* grid-auto-rows: minmax(100px, auto); */

}

.gridSettings  div {
    /* background: darkslategray; */
    padding: 5px;
}


/***** NAV SIDEBAR *****/

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 75px;
    height: 75px;
    left: 75px;
    top: 75px;
    /* filter: blur(); */
  }

  .bm-burger-button:hover {
    filter: grayscale(.8);
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* color/shape of close button cross */
  .bm-cross {
    background: #35f78a;
  }
  
  /* general sidebar styles */
  .bm-menu {
    background: #353535;
    padding: 25px 25px;
    font-size: 1.5em;
  }
  
  /* wrapper for item list */
  .bm-item-list {
    /* padding-top: 50px; */
    color: #2e312b;
    text-align: right;
  }
  
  /* individual item */
  .bm-item {
    padding: 15px;
    padding-right: 10px;
  }
  
  /* styling of overlay */
  .bm-overlay.sidenav {
    margin-top: -250px;
    background: rgba(0, 0, 0, 0.3);
  }
  
  /* link text */
  a {
    color: black;
  }

  a:hover   {
      text-shadow: 2px 2px yellow;
  }

  /* fixed empty block (placeholder space behind sidenav) */
  .bm-menu-wrap {
    height: 100%;
    width: 225px;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #353535;
    /* overflow-x: hidden; */
}


/***** LOG IN / OUT DISPLAY *****/
/* (also in thread item display) */
form {
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
    background: rgba(44, 46, 45, 0.5);
    border-style: solid;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

#saveProfile {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background: rgba(44, 46, 45, 0.5);
    border-style: solid;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

/***** REGISTER DISPLAY *****/
/* ^^ look above and pull down here ^^ */

.registerAlert  {
    background: black;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
}


/***** PROFILE PAGE DISPLAY *****/

.gridProfile   {
    display: grid;
    grid-template-columns: 3fr 6fr 3fr; 
}

.gridProfile  div {
    padding: 5px;
    margin-top: 5px;
}

.profilePage {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background: black;
    opacity: 1;
    margin-top: 5px;
    letter-spacing: 1px;
}

#avatar {
    height: 100px;
    width: 100px;
    border-style: solid;
    border-color: #35f78a;
}

.user   {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#btn-logout {
    float: right;
    margin-top: 5px;
}

/***** PROFILE SETTINGS/CONTROL PANEL DISPLAY *****/

.control {
    margin-top: 5px;
}

/***** MINI-PROFILE DISPLAY *****/

.mini-profile    {
    background: darksalmon;
    padding: 10px;
}


/***** SECTION LIST DISPLAY *****/
.sectionTopics   {
    /* background: lightskyblue; */
    /* background: #35f78a; */
}

/***** SECTION ITEM DISPLAY *****/

.sectionItem    {
    background: #35f78a;
    padding:10px;
}

.container{
    color: black;
    padding: 10px;
    font-size: 16px;
}

/***** NEW THREAD DISPLAY *****/

#newThreadForm   {
    border-style: solid;
    width: 40%;
    height: 300px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

#newThreadTitle {
    margin-left: 10px;
    border-style: solid;
    width: 70%;
}

#newTitle {
    margin-left: 10px;
    width: 70%;
    letter-spacing: .5em;
}

#newThreadBody {
    width: 70%;
}

#threadAdd  {
    margin: 10px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}


/***** THREAD ITEM DISPLAY *****/

.discussionItem {
    background: #35f78a;
    margin-top: 10px;
    padding-bottom: 10px;
}

/***** COMMENT LIST DISPLAY *****/

.commentList    {
    background:#35f78a;
}

textarea {
    width: 400px;
    height: 150px;
    padding: 10px;
    margin: 10px;
    border-style: solid;
    border-color: #35f78a;
    border-width: 3px;
    background: #2e312b;
    color: white;
    font-family: 'monofontoregular';
    font-size: 16px;
  }
  
#theBox   {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #addReply {
      float: right;
      margin-right: 30px;
  }

/***** COMMENT ITEM DISPLAY *****/

.comment    {
    background: #222;
    padding: 30px;
    /* font-size: 16px; */
}


/***** ERROR *****/

.errorAvatar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.errorcontainer   {
    background: rosybrown;
    padding: 10px;
    /* width:500px;
    height:500px; */
    /* background:url('https://i.giphy.com/media/CdhxVrdRN4YFi/giphy.webp');
    background-size:400px; */
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    }

/***** FORBIDDEN *****/

/* ???? how to make component ???? */
/* style here when you figure it out */