/* the all powerful syling over all components imported to App.js */


@font-face {
    font-family: 'monofontoregular';
    src: url('./monofonto-regular/monofonto-webfont.woff2') format('woff2'),
         url('./monofonto-regular/monofonto-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'southern_aire_personal_use_Rg';
    src: url('./southernAire/southernaire-webfont.woff2') format('woff2'),
         url('./southernAire/southernaire-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*   {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'monofontoregular', 'Courier New', Courier;
    background: black;
    text-transform: uppercase;
}

button:hover {
    color: red;
}


input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
  background-color: #00acb0;
  width: 100%;
  border-radius: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    padding-left: 280px;
}

li a {
    display: block;
    color: white;
    /* text-align: center; */
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: none;
    color: #eee;
}

a{
    text-decoration: none;
}






/***** HEADER *****/

.instructions {
    background-color: #373a47;
    font-family: 'southern_aire_personal_use_Rg';
    padding: 20px;
    /* padding-bottom: 55px; */
    color: #ece7e7;
    display: grid;
    grid-template-columns: 3fr 6fr 1fr;
    grid-gap: 20px;
    text-transform: capitalize;
}
.instructions h1 {
    font-size: 56px;
    font-weight: 100;
    /* padding-left: 100px; */
}

.instructions h2 {
    font-size: 48px;
    /* font-weight: 400; */
    /* text-transform: capitalize; */
    /* padding-left: 100px; */
}






/***** BOARD GRID *****/

.gridBase   {
    display: grid;
    grid-template-columns: 3fr 10fr 3fr; /* size of columns from left to right */
    grid-gap: 20px; 
    /* margins between columns and rows */
    /* grid-auto-rows: minmax(100px, auto); */

}

.gridBase  div {
    /* grid-template-rows: 1fr 3fr; */
    /* display: grid; */
    /* background: darkslategray; */
    padding: 5px; 
}


/* thread nested in thread list */
.gridThread   {
    display: grid;
    grid-template-columns: 3fr 10fr 3fr; /* size of columns from left to right */
    grid-gap: 20px; 
    /* margins between columns and rows */
    /* grid-auto-rows: minmax(100px, auto); */

}

.gridThread  div {
    padding: 5px; 
}

/* threads nested in gridThread */
.discussionList   {
    background: yellow;
    grid-template-rows: 1fr;
    /* grid-gap: 25px;  */
    /* margin space around container */
}



/* thread nested in thread list MINI PROFILE GRID ALSO HERE */

.gridCommentList   {
    display: grid;
    grid-template-columns: 3fr 10fr 3fr;
    /* grid-template-rows: 1fr; */
    grid-column-gap: 10px;
    /* grid-row-gap: 10px; */
    /* padding-top: 50px; */
}

.gridComment  div {
    display: grid;
    grid-template-columns: 1fr 5fr;

    grid-column-gap: 10px;
    padding: 5px 10px;
    /* margin: 0 5px; */
}

.commentButtons {
    background: red;
}












/* ERROR GRID */

.gridError   {
    display: grid;
    grid-template-columns: 2fr 6fr 3fr; /* size of columns from left to right */
    grid-gap: 20px; /* margins between columns and rows */
    /* grid-auto-rows: minmax(100px, auto); */

}

.gridError  div {
    /* display: grid; */
    /* background: darkslategray; */
    padding: 5px;
    margin-top: 50px;
}


/* PROFILE (INFOPAGE) GRID */

.gridProfile   {
    display: grid;
    grid-template-columns: 1.5fr 6fr 3fr; /* size of columns from left to right */
    grid-gap: 20px; /* margins between columns and rows */
    /* grid-auto-rows: minmax(100px, auto); */

}

.gridProfile  div {
    /* background: darkslategray; */
    padding: 5px;
    margin-top: 25px;
}


/* PROFILE SETTINGS GRID */
.gridSettings   {
    display: grid;
    grid-template-columns: 1.5fr 6fr 3fr; /* size of columns from left to right */
    grid-gap: 20px; /* margins between columns and rows */
    /* grid-auto-rows: minmax(100px, auto); */

}

.gridSettings  div {
    /* background: darkslategray; */
    padding: 5px;
    margin-top: 25px;
}


/***** NAV SIDEBAR *****/

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 50px;
    height: 50px;
    left: 50px;
    top: 50px;
    box-shadow: 3px 3px 5px;
  }

  .bm-burger-button:hover {
    border-style: solid;
    border-color: #373a47;
    border-radius: 3px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  
  /* link text */
  a {
    color: black;
  }

  a:hover   {
      color: white;
  }

  /* fixed empty block (placeholder space behind sidenav) */
  .sidenav {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}


/***** LOG IN / OUT DISPLAY *****/
/* ^^ look above and pull down here ^^ */


/* (also in thread item display) */
form {
    border-style: solid;
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

/***** REGISTER DISPLAY *****/
/* ^^ look above and pull down here ^^ */

.registerAlert  {
    background: white;
    display: grid;
    grid-template-columns: 3fr 3fr;
}


/***** PROFILE PAGE DISPLAY *****/

.profilepage {
    background: grey;
}

#avatar {
    height: 100px;
    width: 100px;
}

#btn-logout {
    float: right;
    margin-top: 5px;
}

/***** PROFILE SETTINGS/CONTROL PANEL DISPLAY *****/

.control {
    background: fuchsia;
}

/***** MINI-PROFILE DISPLAY *****/

.mini-profile    {
    background: darksalmon;
    padding: 10px;
}


/***** SECTION LIST DISPLAY *****/
.sectionTopics   {
    background: lightskyblue;
}

/***** SECTION ITEM DISPLAY *****/

.sectionItem    {
    background: lightgreen;
}

/***** THREAD LIST DISPLAY *****/

/* .discussionList {
    background: yellow;
} */

/* .threadButton {
    background: pink;
    float:right;
    margin: 10px;
    padding: 10px 0;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 3px;

} */

#btn-thread {
    padding: 0 18px;
    font-size: 18px;
    text-decoration: none;

    background: pink;
    border-style: solid;
    border-width: 2px;

}

.threadButton:hover {
    background: lime;
}

/***** NEW THREAD DISPLAY *****/

#newThreadForm   {
    border-style: solid;
    width: 40%;
    height: 300px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

#newThreadTitle {
    margin-left: 10px;
    border-style: solid;
    width: 70%;
}

#newTitle {
    margin-left: 10px;
    width: 70%;
}

#newThreadBody {
    width: 70%;
}

#threadAdd  {
    margin: 10px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}


/***** THREAD ITEM DISPLAY *****/

.discussionItem {
    background: plum;
}

/***** COMMENT LIST DISPLAY *****/

.commentList    {
    background: palegreen;
}

textarea {
    width: 400px;
    height: 150px;
    padding: 10px;
    margin: 10px;
    border-style: solid;
    border-width: 3px;
  }
  
#theBox   {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #addReply {
      float: right;
      margin-right: 30px;
  }

/***** COMMENT ITEM DISPLAY *****/

.comment    {
    background: orange;
    padding: 10px;
}


/***** ERROR *****/

.errorAvatar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.errorcontainer   {
    background: rosybrown;
    padding: 10px;
    /* width:500px;
    height:500px; */
    /* background:url('https://i.giphy.com/media/CdhxVrdRN4YFi/giphy.webp');
    background-size:400px; */
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    }

/***** FORBIDDEN *****/

/* ???? how to make component ???? */
/* style here when you figure it out */